// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-wrap {
  padding-bottom: 10rem;
  background-image: url('/img/Large-8629McLaren-Senna----7b.png');
  background-repeat: no-repeat;
  background-position: center top;
}

#burger-menu {
  display: none;
  height: 24px;
  cursor: pointer;
}

.bars {
  background: white;
  width: 30px;
  height: 3px;
  display: block;
  margin-bottom: 5px;
}

.header {
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;

    &-wrap-link {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;
    }

    &-link {

      &-tel {
        font-size: 1.3rem;
        letter-spacing: .5em;
      }

      &-logo {
        text-align: left;
        flex-basis: 300px;
      }
    }

  }

  &-btn {
    flex-grow: 0;
  }

  &-desc {
    margin-bottom: 17.1rem;
  }

  &-title {
    margin-bottom: 3rem;
    font-size: 5rem;
    line-height: normal;
  }

  &-text {
    margin-bottom: 3rem;
    font-size: 1.1rem;
    line-height: 2.3;
  }

  &-about {
    display: flex;
    align-items: center;

    &-icons {}

    &-icon {
      stroke: currentColor;
      fill: none;
    }
  }

  &-benefits {
    display: flex;
    justify-content: space-between;
  }

  &-benefit {
    &-title {
      margin-bottom: .5rem;
      font-size: 1.9rem;
    }

    &-text {
      font-size: 1.1rem;
    }
  }
}
